* {
    padding:0;
    margin:0;
    background-color:rgb(182, 181, 181);
    font-family:'Courier New', Courier, monospace;
    
}

.box {
    display:flex;
    flex-wrap:nowrap;
    justify-content: space-evenly;
    background-color:rgb(122, 122, 224);
}


.headermenu {
    flex: auto;
   
    
}

.titmenu {
    flex-basis:auto;
    list-style-type:none;
    color:black;
    margin-top:0.2em;
    margin-bottom:0.2em;
    text-decoration:none;
    /*font-style:oblique;*/
    font-size:16px;
    cursor:pointer;
    padding:0.8rem;
    
    

    
}

.lnk {
    border-style:outset;
    border-radius:25px;
    border-color:black;
}

.lnk2 {
    /*background-color:rgb(182, 181, 181);*/
    
}

.lnk:hover {
background-color:black;
color:white;
}


.title {
    background-color:rgb(140, 140, 247);
    text-align:center;
}

mark {
    background-color:black;
}