* {
    font-family:'Courier New', Courier, monospace; /* This is to clear defaults */
    padding:0;
    margin:0;
    max-width:100%;
    
}

.box {
    display:flex; /* box is for the heading and links */
    flex-wrap:nowrap;
    justify-content:space-evenly;
    background-color:rgba(81, 125, 157, 0.839);
}

.box2 {
    display:flex; /*  box 2 is for the main field  */
    justify-content:space-evenly;
    background-color:rgb(242, 240, 240);
}

.headermenu { /* headermenu acts as a box */
    flex:auto;
}

.titmenu { /* titmenu is all atrributes for the links */
    flex-basis:auto;
    list-style-type:none;
    color:black;
    border-style:outset;
    border-radius:25px;
    padding:0.8em;
    margin:0.2em;
    font-size:clamp(1rem, 1vw, 1.8rem);
}

.titmenu:hover { /* title menu:hover is the color change effect when the mouse hovers over buttons */
    background-color:rgb(230, 164, 23);
    color:rgb(0, 0, 0);
    animation-delay:1.4s;
}

.lnk { /* This removes the underline of the links */
text-decoration:none;
}

.lststyle {
    list-style-type:none;
}

.title { /* This is the h1 title at the top of the page */
    text-align:center;
    background-color:rgba(81, 125, 157, 0.839);
    font-size:clamp(2.2rem, 3vw, 5rem);
}

.dates {
    font-size:clamp(1.2rem, 3vw, 2rem);
    color:black;
}

.dates:hover {
    color:Orange;
}

.vw { /* View Width- This is a flexbox parent and originally had a border which has now been set to none */
    justify-content:center;
    width:75%;
    border-style:dotted;
    border-color:rgb(157, 157, 157)
}

.smbox { /* Small box- This is the black grid on the screen with set height and width */
    flex-basis:70%;
    margin:auto;
    height:300px;
    width:70%;
    border-style:solid;
    display:flex;
    background-color:rgba(149, 183, 224, 0.383);
    color:rgb(35, 35, 35);
}

.smboxrm { /* Small box re-made- This is the black grid on the screen on blog pages with auto height and width */
    flex-basis:70%;
    margin:auto;
    height:auto;
    width:70%;
    border-style:solid;
    display:flex;
    background-color:rgba(149, 183, 224, 0.383);
    color:rgb(35, 35, 35);
    justify-content:space-between;
    
}

.srbox { /* smaller box- This keeps the Title and the Paragraph in a column rather than row */
    flex-direction:column;
    
}

 .flxitm { /* flex item- this declares an item as a flexchild and redeclares wrap is on */
    flex-wrap:wrap;   
    margin-left:1rem;
    font-size:clamp(1.5rem , 1vw , 2rem);
}

.flxitmnw { /* flex item no wrap- this declares an item as a flexchild and redeclares wrap is off */
    flex-wrap:wrap;   
    margin-left:1rem;
    max-width:100%;
    font-size:clamp(1.5rem , 1.5vw , 2.5rem);

}

.blurb { /* This relates to the blurb at the top of the page */
    width:70%;
    text-align:center;
    margin:auto;
    padding-top:20px;
    padding-bottom:20px;
    font-size:clamp(1.2rem, 1.5vw, 2rem);
    color:white;
    background-color:rgba(34, 127, 185, 0.602);
}

.pcsiz { /* picture size - this keeps all the images on the page dynamiclly sized and similar. */
    flex-grow:0;
    flex-shrink:1;
    flex-wrap:wrap;
    justify-content:center;
    max-width:100%;
}

.left {
    flex-basis:auto;
    align-self:flex-start;
}

@media screen and (max-width:780px) { /* This Media Query moves the menu down into a column when teh screen gets to a certain size. */
    .box {
        flex-direction:column;
       padding-left:2rem;
       padding-right:2rem;
        background-color:rgb(81, 125, 157);

    }
}

@media screen and (max-width:1500px) { /*This media query restructures the grid to fit on smaller screens */
    .smbox {
        flex-direction:column;
        flex-basis:70%;
        margin:auto;
        height:auto;
        width:70%;
        border-style:solid;
        display:flex;
    }
    .flxitm {
        margin-left:0;
        font-size:clamp(1rem , 1.5vw , 2rem);
    }
}

@media screen and (max-width:1250px) {
    .smboxrm { /* Small box re-made- This is the black grid on the screen on blog pages with auto height and width */
        flex-basis:70%;
        margin:auto;
        height:auto;
        width:70%;
        border-style:solid;
        display:flex;
        background-color:rgba(149, 183, 224, 0.383);
        color:rgb(35, 35, 35);
        justify-content:center;
        flex-direction:column;

    }

    .flxitmnw { /* flex item no wrap- this declares an item as a flexchild and redeclares wrap is off */
        flex-wrap:wrap;   
        margin-left:1rem;
        max-width:100%vw;
        flex-direction:column;
        font-size:clamp(1.2rem, 3vw, 2rem);
    }

    .dates {
        font-size:clamp(1.2rem, 3vw, 2rem);
    }


}

@media screen and (min-width:1500px) {

    

}