* {
    font-family:'Courier New', Courier, monospace; /* This is to clear defaults */
    padding:0;
    margin:0;
    max-width:100%;
    
}

.box {
    display:flex; /* box is for the heading and links */
    flex-wrap:nowrap;
    justify-content:space-evenly;
    background-color:rgba(81, 125, 157, 0.839);
}

.box2 {
    display:flex; /*  box 2 is for the main field  */
    justify-content:space-evenly;
    background-color:rgb(227, 227, 227);
}

.headermenu { /* headermenu acts as a box */
    flex:auto;
}

.titmenu { /* titmenu is all atrributes for the links */
    flex-basis:auto;
    list-style-type:none;
    color:black;
    border-style:outset;
    border-radius:25px;
    padding:0.8em;
    margin:0.2em;
    font-size:clamp(1rem, 1vw, 1.8rem);
}

.titmenu:hover {
    background-color:rgb(230, 164, 23);
    color:white;
    animation-delay:1.4s;
}

.lnk {
text-decoration:none;
}

.title {
    text-align:center;
    background-color:rgba(81, 125, 157, 0.839);
    font-size:clamp(2.2rem, 3vw, 5rem);
}

.vw {
    
    justify-content:center;
    width:75%;
    border-style:dotted;
}

.smbox {
    flex-basis:70%;
    margin:auto;
    height:300px;
    width:70%;
    border-style:solid;
    display:flex;
}

.srbox {
    flex-direction:column;
}

.flxitm {
    flex-wrap:wrap;
    
}

.blurb {
    width:70%;
    text-align:center;
    margin:auto;
    padding-top:20px;
    padding-bottom:20px;
    font-size:clamp(1.2rem, 1.5vw, 2rem);
}

.pcsiz {
    flex-grow:0;
    flex-shrink:1;
    flex-wrap:wrap;
    justify-content:center;
    max-width:100%;
}

@media screen and (max-width:780px) {
    .box {
        flex-direction:column;
       padding-left:2rem;
       padding-right:2rem;
        background-color:rgb(81, 125, 157);

    }
}

@media screen and (max-width:1500px) {

    .smbox {
        flex-direction:column;
        flex-basis:70%;
        margin:auto;
        height:auto;
        width:70%;
        border-style:solid;
        display:flex;
    }
    

}